
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(65, 37, 1);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.content {
  display: block;
  color: white;
  font-size: 1.2em;
  background-color: black;
  padding: 10px;
  height: 100vh;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.calculator {
  border: 1px solid rgb(175, 132, 86);
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.6em;
  color: rgb(174, 89, 3);
  text-align: center;
  border-bottom: 1px solid rgb(175, 132, 86);
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.button {
  border: 2px solid rgb(175, 132, 86);
  border-radius: 5px;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 0.8em;
  background-color: rgb(241, 201, 166);
}

.button:hover {
  background-color: rgb(247, 193, 123);
}

.imageholder {
  width: 600px;
  height: 300px;
  margin-left: auto;
}